
.custom-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .custom-filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .custom-header {
    min-height: 64px;
    padding: 8px 24px 0;
    padding-top: 20px;
  }

  .custom-back-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-header-cell{
    color: #082c55;
    font-size: 16px;
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.438);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 550px;
  }
  
  .mat-footer-cell{
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.267);
  }
  
  .element-row{
    cursor: pointer;
    position: relative;
  }
  .element-row:hover {
    background: #f5f5f5;
  }

  .state{

      padding-left: 40%;
      padding-right: 40%;
    font-size: 22px;
   align-content: center;
    font-weight: bold;
    color: #082c55;
}


.back :hover{
    width: 50px;
    color: #082c55;
}